.stylist-section {
    background: #fff;
}
.stylist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    margin: 1em; 
}

.stylist-card {
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
}

.stylist-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: auto;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.stylist-card .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 0.9em;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.stylist-card:hover .description {
    opacity: 1;
}

.stylist-card img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    
    object-fit: cover; 
    
    object-position: center; 
    
    margin-bottom: 15px;
    display: block;
}

.stylist-card h3 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.stylist-card p {
    margin: 0;
    font-size: 0.9em;
    color: #000;
}

.stylist-card p a {
    color: #323437;
}

.info-icon {
    margin-left: 0;
    font-size: 0.6em;
    color: #000;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    padding: 0.5em;
}

.info-icon {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
}

.info-icon:before {
    font-weight: 900;
}

@media screen and (max-width: 480px) {
    .stylist-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}