

.stylist-section {
    background: #fff;
}

.stylist-card {
    display: grid;
    grid-template-columns: 450px 1.5fr;
    gap: 20px;
    justify-content: center;
    align-items: start;
    background: #fff;
    position: relative;
    color: #000;
    padding: 20px;
    text-align: left;
}

.stylist-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 1px;
    background-color: #ddd;

    left: 50%;
    transform: translateX(-50%);
}

.stylist-card img {
  width: 80%;
    aspect-ratio: 1 / 1; 

    object-fit: cover; 

    object-position: center; 

    margin-bottom: 15px;
    display: block;
    border-radius: 8px;
    max-width: 400px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stylist-card h3 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.stylist-card p {
    margin: 0;
    font-size: 0.9em;
    color: #000;
}

.stylist-card p a {
    color: #323437;
}

.info-icon {
    margin-left: 0;
    font-size: 0.6em;
    color: #000;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    padding: 0.5em;
}

.info-icon {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
}

.info-icon:before {
    font-weight: 900;
}

a {
    color: #000;
}

@media screen and (max-width: 480px) {
    .stylist-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}